<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
	<display-name>MaterialJSF</display-name>
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Face Servlet</servlet-name>
		<servlet-class>
			javax.faces.webapp.FaceServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Face Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
</web-app>